.container-homeRRHH{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .tarjetas{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1100px;
        margin: 20px auto;

    }
}
