@import '../../../../scss/base/variables';

#initialPatient-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .empty{
        font-size: 2em;
        color: red;
        margin-top: 20px;
        text-align: center;
    }

    .header-paciente{
        display: flex;
        width: 100%;
        max-width: 800px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .boton-crear-paciente-div{
        .boton-crear-paciente{
            text-decoration: none;
            @include boton-primario;
            margin-right: 20px;
        }
    }

}
    
#prueba{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

}


