@import '../../../../scss/base/variables';

#patientDetails-container{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;

    .division{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }


    .boton-regresar{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .boton{
            margin: 20px;
            margin-bottom: -10px;
            text-decoration: none;
            @include boton-primario
        }

    }
    .lista-detalles{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 500px;
        justify-content: center;
        align-items: flex-start;
        background-color: $color-detalle;
        font-family: $fuente_principal;
        margin-top: 40px;
        height: 100%;

        @media (max-width: 1050px) {
                height: auto;
        }

        .detalles{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .encabezado{
                display: flex;
                width: 100%;
                max-width: 400px;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .nombre-apellido{
                    font-size: 2em;
                    margin: 20px auto;
                    font-weight: $bold;
                    color: $color-principal;
                }
            }

            .data{
                display: flex;
                width: 100%;
                max-width: 500px;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .data-info{
                    display: flex;
                    text-align: center;
                    margin: 15px;

                    .data-detail{
                        color: $color-principal;
                        margin-left: 5px;
                    }
                }
            }
        }

    }

}

.rol-4-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    

    .sub-title{
        font-size: 2em;
        font-family: $fuente-principal;
        color: $color-principal;
    }

    .informacion{
        display: flex;
        //justify-content: center;
        flex-direction: column;
        //align-items: center;
        padding: 10px;
        border-radius: 10px;

        .label-title-search{
            font-size: 1.1em;
            margin-bottom: 10px;
            color: $color-principal;
            background-color: $color-detalle;
            padding: 5px;
            border-radius: 5px;
        }

        .contenido{
            display: flex;
            min-width: 800px;

            .items{
                padding: 0px 45px 0px 0px;
                font-size:smaller
                
            }

        }

    }
}