@import 'components/Landing/Landing.scss';
@import 'components/Layout/Nav.scss';
@import 'components/forms/CreateSpecialist/CreateSpecialist.scss';

.App{
    display: flex;
    width: 100%;
    min-height: 100%;
}