@import '../../../scss/base';

#createSpecialist-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-container{

        display: flex;
        margin-top: 20px;

        .form-infoPersonal{

            display: flex;
            width: 100%;
            max-width: 50%;

        }

        #specialist-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 50%;

            .label-tipo-title{
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
        
                .label-tipo-title-text{
                    color:$color-principal;
                    font-size: 1.2em;
                    padding: 5px;
                }
        
            }

        .lista-especialidades{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;

            .typeSpeciality{
                display: flex;
                width: 100%;
                max-width: 150px;
                margin: 10px;
                align-items: center;

                .input-tipo{
                    margin-right: 8px;
                    padding: 10px;
                    cursor: pointer;
                    transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    -webkit-transform: scale(1.5);
                    padding: 10px;
                }
                .label-tipo{
                    font-family: $fuente_principal;
                    color: $color-terciario;
                    font-weight: $regularPlus;
                }
            }
        }

        


        }
       

    }

    .boton-crear-especialista{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;

        .boton-creacion{
            @include boton-primario
        }
    }


}   
