@import '../../scss/base/variables';

.homeSpecialist{
    display:flex;
    flex-direction: column;
    width: 100%;






    .content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    }

    .encabezado{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;

        .Titulo{
            font-size: 2em;
            font-family: $fuente-principal;
            margin: 10px;
            text-align: center;
            .name{
                color: $color-principal;
            }
        }

        .filtro{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            .label-title-search{
                margin-right: 5px;
                font-size: 1.1em;
                color: $color-terciario;

            }
            .input{
                padding: 3px;
            }
            .boton{
                @include boton-primario;
                font-size: 15px;
                margin: 10px;
            }
        }



    }

    .tabla{
        width: 100%;
        max-width: 1000px;
        text-align: center;
        margin-top: 30px;

        .error{
            text-align: center;
            color: rgb(255, 100, 100);
        }

        .titles{
            background-color: $color-terciario;
            .text{
                padding: 5px;
                font-size: 1.3em;
                color: $color-principal;
            }

        }
        .lista{

            
            
            .datos{
                padding: 5px;
                font-size: 1.1em;

                .icono{
                    font-size: 1.5em;
                    color: rgb(182, 65, 228);
                }
            }

            .fecha{
                background-color: rgb(255, 242, 224);
            }
            .turno{
                background-color: rgb(255, 254, 218);
            }
            .nombre{
                background-color: rgb(224, 255, 246);
            }
            .ver{
                background-color: rgb(252, 231, 255);
 
            }
        }
    }

}


    .rol-4-user{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        

        .sub-title{
            font-size: 2em;
            font-family: $fuente-principal;
            color: $color-principal;
        }

        .informacion{
            display: flex;
            //justify-content: center;
            flex-direction: column;
            //align-items: center;
            padding: 10px;
            border-radius: 10px;

            .label-title-search{
                font-size: 1.1em;
                margin-bottom: 10px;
                color: $color-principal;
                background-color: $color-detalle;
                padding: 5px;
                border-radius: 5px;
            }

            .contenido{
                display: flex;
                min-width: 800px;

                .items{
                    padding: 0px 45px 0px 0px;
                    font-size:smaller
                    
                }
    
            }

        }
    
        .nombre-consulta{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-top: 10px;
            padding: 20px;

            @media (max-width: 800px) {
                justify-content: space-evenly;
            }

            .front{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;

                .botones{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .button{
                        margin: 0 20px;
                        @include boton-primario;
                        font-size: 15px;
                    }
                }
            .titulo{
                font-size: 2em;
                margin-bottom: 20px;
                font-family: $fuente-principal;
                color: $color-principal;
                font-weight: $bold;
            }
        }

        .searchAgenda{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            border-radius: 10px;

            .input{
                
                padding: 3px;
            }

            .label-title-search{
                font-size: 1.1em;
                margin-bottom: 10px;
                color: $color-principal;
                background-color: $color-detalle;
                padding: 5px;
                border-radius: 5px;
            }
    
            .select{
                margin-left: 10px;
                background-color: $color-principal;
                color: white; 
                padding: 3px;
            }
    
    
   /*          .error-label{
                color: rgb(255, 86, 86);
                text-align: center;
                font-size:12px;
            } */

    
        }     

        }

        .carro{
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin-right: 50px;
            margin-top: 10px;
    
            .carrito{
                font-size: 2.2em;
                color: $color-principal;
                cursor: pointer;
    
                &:hover{
                    color: $color-secundario;
                }
            }
            .cantidad{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -10px;
                margin-top: -5px;
                color: white;
                background-color: rgb(255, 68, 68);
                border-radius : 100%;
                padding: 5px;
                height: 22px;
            }
        }

        .editagendacontainer{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        
            .encabezado{
                display: flex;
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
        
                .title{
                    font-size: 2em;
                    font-family: $fuente-principal;
                    color: $color-principal;
                }
        
            }
        
            .asignaciones{
                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                max-width: 900px;
                margin-top: 20px;

                @media (max-width:620px) {
                    overflow:scroll;
                }
        
                .titles{
                    width: 100%;
                    max-width: 900px;
                 }
        
                 .subtitle{
                    color: $color-terciario;
                    font-size: 1.3em;
                    background-color: $color-principal;
                    .th{
                        padding: 5px;
                    }
                 }
        
                 
        
            }
           
        }
        
        .listasss{
            width: 100%;
            justify-content: center;
            max-width: 900px;
            margin-bottom: 20px;
            text-align: center;
        
           
        
          
        
            .td{
                padding: 5px;
                &:hover{
                    background-color: rgb(231, 231, 231);
                }
            }
            
            .numero{
                
                font-size: 1.4em;
             background-color: rgb(210, 255, 255);
            }
            .horario{
                
                font-size: 1.4em;
                background-color: rgb(226, 226, 255);
            }
            .horarioFinal{
                
                font-size: 1.4em;
                background-color: rgb(223, 189, 255);
            }
            .paciente{
                
                font-size: 1.4em;
                background-color: rgb(194, 215, 255);
            }
        
            .asignar{
                 background-color: rgb(184, 189, 255);
                width: 20%;
                }
            .link{
                text-decoration: none;
                font-size: 15px;
                color: white;
                
                
            }
        
            .botones{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                .button{
                    border-radius: 5px;
                    width: 80px;
                }
            }
            .button{
                font-size: 15px;
                border-radius: 5px;
                width: 100%;
                cursor: pointer;
                border: 1px solid $color-terciario; 
                padding: 3px;
                background-color: $color-principal;
                color: white;
                font-size: 1.1em;
                margin: 5px auto;
                
            }
            .eliminar:hover{
                
                background-color: rgb(184, 41, 41);
            }
            .eliminarcart{
                background-color: rgb(184, 41, 41);
            
            }
            .pagar{
                background-color: rgb(73, 175, 60);
            }
        
        
            
        }
        .error{
            font-size: 2.5em;
            color: red;
            
            text-align: center;
        }
        .error2{
            font-size: 2.5em;
            color: red;
            margin-top: 20px;
            text-align: center;
        }
        


    }

.button-pdf{
    margin: 20px 20px;
    @include boton-primario;
    font-size: 15px;
}

.items-historia-clinica{
    padding: 0px 45px 0px 0px;
    font-size:smaller
}

.pagaddo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .check{
        font-size: 3em;
        margin: 20px;
        text-align: center;
        color: rgb(38, 185, 38)
    }

    .button{
        @include boton-primario;
    }
}