@import '../../../../scss/base/variables';

#initialSpecialty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .division{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .empty{
        font-size: 2em;
        color: red;
        margin-top: 20px;
        text-align: center;
    }


    .label-title-search{
        display: flex;
         width: 100%;
         justify-content: center;
        align-items: center;
         margin-bottom: 20px;
        color:$color-principal;
        font-size: 1.2em;
    }

    .searchAgenda{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $color-detalle;
        margin-left: 20px;
        padding: 10px;
        border-radius: 10px;

        .select{
            margin-left: 10px;
            background-color: $color-principal;
            color: white;
        }


        .error-label{
            color: rgb(255, 86, 86);
            text-align: center;
            font-size:12px;
        }

        .boton{
            @include boton-primario;
            font-size: 15px;
            margin-left: 10px;
        }

        .botonAll{
            @include boton-primario;
            margin-top: 20px;
            background-color: cornflowerblue;
            font-size: 13px;
        }
    }          
    

        .agenda{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            max-width: 800px;

            .titulo{
                font-size: 2em;
                margin-bottom: 20px;
                font-family: $fuente-principal;
                color: $color-principal;
                font-weight: $bold;
            }
            
            .agenda-header-container{
                 width: 100%;
                 max-width: 800px;

                .encabezado{
                   background-color: $color-principal;
                   
                }
                .title{
                    color: white;
                    font-size: 1.2em;
                    padding: 5px;
                }
                

        }

        .agendaEnlace{
            display: flex;
            width: 100%;
            max-width: 900px;
            align-items: center;

       
        }

        }
        

      
        
    }


.boton-crear-search{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .boton-action{
        @include boton-primario;
        margin: 30px 0;
    }

    .Titulo{
        font-size: 2em;
        color: $color-secundario;
        font-weight: $regularPlus;
    }

    
}
