@import '../../../../scss/base/variables';

#initialSpecialty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    
    
    .initialSpecialty{
        display: flex;
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-around;

        .label-title-search{
            display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        color:$color-principal;
            font-size: 1.2em;
            padding: 5px;
        }

        .searchAgenda{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 30px auto;

            .error-label{
                color: rgb(255, 86, 86);
                text-align: center;
                font-size:12px;
            }
        }          
        
    }

}
.boton-crear-search{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;

    .boton-action{
        @include boton-primario;
        margin: 0 20px
    }
}

.agenda-header-container{
   display: flex;

}