@import '../../../../scss/base/variables';

#initialSpecialty-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    .search-agenda{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px auto;
        width: 100%;

    }
}