@import '../../../scss/base/variables';

.container-turnospys{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    align-items: center;

    .buscador{
        display: flex;
        width: 100%;
        max-width: 800px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .boton-crear{
            .botoncito{
                text-decoration: none;
                @include boton-primario;
                margin-right: 20px;
            }
        }
    }

    .input-buscador{
        display: flex;
        width: 100%;
        max-width: 400px;
        margin: 40px auto;
        justify-content: center;
        align-items: center;


            .select{
                display: flex;
                margin-left: 20px;
                padding: 3px;
                background-color: $color-principal;
                color: $color-terciario;
                border: none;
            }
        
    
        .icon-search{
            display: flex;
            background-color: $color-secundario;
            height: 100%;
            width: 30px;
            color: white;
            padding: 5px;
            border-radius: 3px;
            margin-right: 5px;
        }
    
        .input-search{
            display: flex;
            width: 100%;
            max-width: 300px;
            height: 100%;
            padding: 3px;
        }
    
    
    }

    .turnos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1200px;

        .error{
            font-size: 2em;
            margin-top: 40px;
            color: crimson;
        }
        
    }
}


.container-info-turnos{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: rgb(199, 219, 255);
    margin: 20px;
    padding: 15px;
    align-items: center;
    color: rgb(37, 195, 248);
    border-radius: 10px;

    .apartado{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        margin: 3px auto;
        font-size: 1.1em;
        background-color: rgb(231, 236, 255);
        padding: 5px;

        .subtitle{
            margin-right: 10px;
            font-family: $fuente-principal;
        }
        .data{
            
            color: $color-principal;
        }
    }
    .botones{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;

        .boton{
            padding: 5px;
            border-radius: 5px;
            border: none;
            background-color: white;
            color: white;
            cursor: pointer;
            width: 60px;
            height: 60px;

            &:hover{
                background-color: rgb(255, 250, 219);
                
            }

            .icon{
                font-size: 2em;
                color: rgb(255, 189, 9);
            }
        }
        .MP{
            height: 100%;
            &:hover{
                background-color: rgb(229, 255, 212);
                
            }
        }
        .logoMP{
            width: 50px;
            height: 50px;
        }
    }

}