@import '../../scss/base/variables';

.container-admin{
    display: flex;
    width: 100%;
    flex-direction: column;

    .opciones{
        display: flex;
        width: 100%;
        height: 100%;
        background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
        url("./images/fondo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
        justify-content: space-around;
        align-items: center;


        .boton{
            width: 100%;
            max-width: 400px;
            height: 100%;
            max-height: 400px;
            border-radius: 100%;
            border: 3px solid $color-terciario;
            background-color: $color-principal;
            transition: transform 500ms;
            cursor: pointer;

            
            @media (max-width: 800px) {
                
                 max-height: 200px;
                max-width: 200px;
            }

            &:hover{
                transition: transform 500ms;
                transform: translateY(-10px);
                background-color: $color-secundario;

            }
            .text{
                font-size: 3em;
                color: white;
            }
        }
    }
}