@import '../../scss/base/variables';

#landing-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    background-image:
      url("images/medico.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;


    .participantes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 500px;
        margin-bottom: 5px;
        display: flex;
        background-color: $color-principal;
        border-radius: 10px;
        padding: 5px;
        animation-duration: 1s;
        animation-name: slidein;
          
          
          @keyframes slidein {
            from {
              opacity: 0%;
            }
          
            to {
              opacity: 100%;
            }
          }

        .nombres{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            a{
                text-decoration: none;
                margin: 3px 7px ;
                
                color: white;

                &:hover{
                    color: $color-terciario;
                }
            }
        }

    }

    .people{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
        
        @media (max-width: 600px) {
                justify-content: center;
        }
        .button{

        margin: 30px;
        @include boton-primario;

        .icon{
            font-size: 1.2em;
        }
    }
}

    .error{
        font-size: 14px;
        font-weight: $regularPlus;
        color: rgb(255, 85, 85);
    }
    .error-mail{
        margin-top: 10px;
        font-size: 14px;
        font-weight: $regularPlus;
        color: rgb(255, 85, 85);
    }

        #landing-login{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 40px;
            background-color: $color-principal;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            max-height: 380px;
            max-width: 400px;

            @media (max-width:600px) {
                margin: 30px auto;
            }

            .landing-form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .registro{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                    font-size: 15px;

                    .notengo{
                        margin-top: 10px;
                    }

                    .text{
                        color: white;
                        margin-right: 5px;
    
                    }
                    .link{
                       
                        color: $color-terciario;

                        &:hover{
                            color: white;
                        }
                    }
                    
                    
                }

               

                .icon-login{
                    color: rgb(255, 255, 255);
                    font-size: 3em;
                }
                .form-title{
                    color: white;
                    font-size: 1.5em;
                }
                .volver{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 50px;
                    align-items: center;

                    .link{
                        cursor: pointer;
                        color: $color-terciario;

                        &:hover{
                            color: white;
                        }
                    }

                    .text{
                        font-size: 1.2em;
                        margin-left: 5px;
                    }
                }

                .landing-form-inputs{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin-top: 30px;

                    .inputlost{

                        width: 250px;
                    }

                    .label-input{
                        display: flex;
                        width: 100%;
                        max-width: 320px;
                        margin: 10px auto;
                        justify-content: space-between;
                        align-items: center;
                    
                        .label{
                            color: white;
                            font-size: 18px;
                        }

                        .input{
                            padding: 3px;
                        }

                    }

                }
                .olvidar{
                    cursor: pointer;
                    color: $color-terciario;
                    font-size: 14px;
                    text-decoration: underline;
                     &:hover{
                         color: white;
                     }
                }

                .boton-login{
                    margin-top: 20px;
                    border:none;
                    color:$color-principal;
                    background-color: white;
                    padding: 8px 10px;
                    cursor: pointer;
                    border : 1px solid white;

                    &:hover{
                        background-color: $color-principal;
                        color: white;
                    }
                }
                
            }
        }
    
}

#landing-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-principal;
    height: 100px;
    
    #landing-title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;

        .landing-title-text{
            color: white;
            text-align: center;
            font-size: 2.2em;
        }
        .icon-salud{
            color: white;
            font-size: 2.5em;
            margin-right: 10px;
        }
    }
   
}

.pageError{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 231, 231);

    .icon{
        display: flex;
        width: 100%;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        .icon-error{
            font-size: 6em;
            color: red;
        }
        .dizzy{
            color: rgb(255, 213, 27);
            background-color: rgb(0, 0, 0);
            border-radius: 100%;
        }

        .detail{
            display: flex;
            font-size: 1.5em;
            margin: 0px 30px;
            margin-top: -20px;
        }
        .BOTONES{
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 400px;
            flex-wrap: wrap;
        }
        .vuelta{
            @include boton-primario;
            font-size: 1.5em;
            margin-top: 30px;
        }
    }

   
}

