@import '../../../../scss/base/variables';

.datosAgenda{
    width: 100%;
    justify-content: center;

    .bloque{
         padding: 5px;
        text-align: center;
        font-size: 1.1em
    }

    .fecha{
        background-color : rgb(253, 232, 255);
    }
    .especialista{
        background-color : rgb(221, 251, 255);
    }
    .especialidad{
        background-color : rgb(255, 242, 224);
    }
    .ver{
        background-color : rgb(236, 255, 224);
    }
    .fecha2{
        background-color : rgb(245, 56, 56);
    }
    .especialista2{
        background-color : rgb(245, 56, 56);
    }
    .especialidad2{
        background-color : rgb(245, 56, 56);
    }
    
    .boton{
        cursor: pointer;
        font-size: 1.5em;
        margin-left: 5px;
        color: $color-principal;

        &:hover{
        color: $color-terciario;
        }
    }


}
