@import '../../../../scss/base/variables';

.datos{
    width: 100%;
    justify-content: center;
    
    &:hover{
        background-color: black;
    }
    
    .bloque{
         padding: 5px;
        text-align: center;
        font-size: 1.1em
    }

    .fecha{
        background-color : rgb(253, 232, 255);
    }
    .especialista{
        background-color : rgb(221, 251, 255);
    }
    .especialidad{
        background-color : rgb(255, 242, 224);
    }
    .ver{
        background-color : rgb(236, 255, 224);
    }

    .boton{
        cursor: pointer;
        font-size: 1.5em;
        margin-left: 5px;
        color: $color-principal;

        &:hover{
        color: $color-terciario;
        }
    }


}
