// snippet de paul irish
html {
    font: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}