@import '../../../../scss/base/variables';


#edit-agenda-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .encabezado{
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;

        .title{
            font-size: 1.5em;
        }

        .data{
            color: $color-secundario;
            font-family: $fuente-principal;
            font-size: 1.1em;
            font-weight: $regularPlus;
        }
    }

    .asignaciones{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        margin-top: 20px;

        .titles{
            width: 100%;
            max-width: 900px;
         }

         .subtitle{
            color: $color-terciario;
            font-size: 1.3em;
            
         }

         

    }
   
}

.listasss{
    width: 100%;
    justify-content: center;
    max-width: 900px;
    margin-bottom: 20px;
    text-align: center;

   

  

    .td{
        padding: 5px;
        &:hover{
            background-color: rgb(223, 223, 223);
        }
    }
    
    .numero{
     background-color: rgb(210, 255, 255);
    }
    .horario{
        background-color: rgb(226, 226, 255);
    }
    .horarioFinal{
        background-color: rgb(223, 189, 255);
    }
    .paciente{
        background-color: rgb(194, 215, 255);
    }
    .historia{
        background-color: rgb(189, 188, 255);
    }

    .asignar{
         background-color: rgb(184, 189, 255);
        width: 20%;
        }
    .link{
        text-decoration: none;
        font-size: 15px;
        color: white;
        
        
    }

    .botones{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .button{
            border-radius: 5px;
            width: 80px;
        }
    }
    .button{
        font-size: 15px;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        border: 1px solid $color-terciario; 
        padding: 3px;
        background-color: $color-principal;
        color: white;
        font-size: 1.1em;
        margin: 5px auto;
        
    }
    .eliminar:hover{
        background-color: rgb(219, 27, 27);
    }
    .editar:hover{
        background-color: rgb(216, 185, 12);
    }
    .assign:hover{
        background-color: rgb(103, 197, 90);
    }


    
}
